@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Roboto);

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

body {
	font-family: 'Roboto', 'sans-serif';
	font-size: 16px;
	background-color: #ddd;
	background-size: cover;
}

h1 {
	font-size: 24px;
	font-weight: 800;
	margin: 0px 0px 10px 0px;
}

h2 {
	font-size: 18px;
	font-weight: 800;
	margin: 0px 0px 5px 0px;
}

h3 {
	font-size: 16px;
	font-weight: 800;
	margin: 40px 0px 15px 0px;
}

p {
	color: #666;
	margin: 10px 0px;
	line-height: 22px;
}

.container {
	margin: 0px auto;
	width: 700px;
	background-color: rgba(256,256,256,0.6);
	padding: 40px;
}

header {
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 20px 0px;
	border-bottom: 5px solid #000;
}

section #content {

}

#date {
	font-size: 13px;
	font-weight: 400;
	color: #999;
	margin: 9px 0px 0px 0px;
}

#byline {
	font-size: 15px;
	font-weight: 400;
	color: #999;
}

.fleft {
	float: left;
}

.fright {
	float: right;
}

.cfloat {
	clear: both;
}