@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Patua+One|Archivo+Narrow:400,700,400italic);

body {
	color: #555;
	background-color: #FEFEFE;
	margin: 75px 150px;
	font-family: 'Archivo Narrow', 'sans-serif';
	font-size: 18px;
	line-height: 1.4;
	}

h1, h2, h3, h4, h5, h6 {
	margin: 10px 5px;
	padding: 0px;
	font-family: 'Patua One', 'serif';
	color: #333;
	}

p {
	margin: 20px 5px;
	padding: 0px;
	width: 700px;
	}

a img {
	border: none;
	}

a:link {
	font-style: italic;
	font-family: 'Archivo Narrow', 'sans-serif';
	color: orange;
	text-decoration: none;
	}

a:hover, a:active, a:focus {
	font-style: italic;                                                                                                                    
	font-family: 'Archivo Narrow', 'sans-serif';
	color: orange;                                                                                              
	text-decoration: underline;
	}

a:visited {
	color: orange;
	}

img {
	margin: 0px 25px 0px 0px;
	padding: 0px;
	}


ul, ol, li {
	color: #555;
	background-color: #FEFEFE;
	font-size: 18px;
	line-height: 1.4;
	}

#dontfreakout {
	font-family: 'Patua One', 'serif';
	font-style: italic;
	font-size: 16px;
}	

.lightertype {
	color: #AAA;
	}


